@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

@theme {
  --shadow-black: 5px 5px 0px black;
  --text-shadow-black: 3px 3px 0 black, 2px 2px 0 black, 1px 1px 0 black;
  --text-shadow-white: 3px 3px 0 white, 2px 2px 0 white, 1px 1px 0 white;
  --color-pale-yellow: #f9e780;
  --color-yellow: #f4d738;
  --color-blue: #7d83db;
  --color-pink: #ff819d;
  --color-red: #ff6b6b;
}

:root {
  font-family: 'Josefin Sans', 'sans-serif';
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-stroke {
  -webkit-text-stroke: 2px #000;
}
